html{
font-size: 16px}

img.logo{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
       
}


p {
 font-size: 12px;
    font-weight: 400;
    line-height: 1.4em;
    font-family: 'Quattrocento', Georgia, "Times New Roman", serif;
    padding-top: 1em;
}

h1, h2{
    font-family: 'Oswald', Verdana, Arial, sans-serif; 
}

h1 {
    font-weight: 700;
    font-size: 40px;
     line-height: .5em;
    margin-bottom: none;
font-weight: bold;
}
 #container {
height:250px ;
  width: 100%;
  margin: auto;
  position: relative;
  background: white;
  border-radius: 5px;
     box-shadow:  2.8px 2.2px rgba(0, 0, 0, 0.034),
     0 6.7px 5.3px rgba(0, 0, 0, 0.048),
     0 12.5px 10px rgba(0, 0, 0, 0.06),
     0 22.3px 17.9px rgba(0, 0, 0, 0.072),
     0 41.8px 33.4px rgba(0, 0, 0, 0.086),
     0 100px 80px rgba(0, 0, 0, 0.12)
   ;
     top: -70px;
     text-align: center;
     padding: 4px;
    

 }
 #container1 {
    position: relative;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(230, 230, 230);
 }

 #about {
   
        display: inline-block;
        margin: 0 auto;
        padding: 3px; 
    
 }

h2{
    font-weight: 500;}



.sentence{
    font-size: 24px;
    
}
.banner{
    position: relative;
    text-align: center;
    top: 16px;
    margin: 0px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-size: 40px;
    font-weight: 700;
    
}

.text-block {
    position: absolute ;
    top: 15px;
    bottom: 100px;
    right: 100px;
    left: 20px ;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    height: 150px;
    width: 300px;
}

.column {
    float:left;
    width: 20%;
    padding: 10px;
}

.row::after{
    content: "";
    clear: both;
    display: table;
    
}

.row{
 
}